[submodule "cloudcore"]
	path = cloudcore
	url = git@github.com:michael-borck/cloudcore.git
[submodule "cloudcore-api"]
	path = cloudcore-api
	url = git@github.com:michael-borck/cloudcore-api.git
[submodule "talk-buddy"]
	path = talk-buddy
	url = git@github.com:michael-borck/talk-buddy.git
[submodule "technova-sim"]
	path = technova-sim
	url = git@github.com:michael-borck/technova-sim.git
[submodule "retailflow"]
	path = retailflow
	url = git@github.com:michael-borck/retailflow.git
[submodule "sim-boking-api"]
	path = sim-boking-api
	url = git@github.com:michael-borck/sim-boking-api.git
